@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Prosr
        </NavLink>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
