
<h4 class="opblock-tag no-desc" id="operations-tag-ControlCenter">
    <a class="nostyle">
        <span>@HubData.Ident</span>
    </a>
    <small></small>
    <button class="expand-operation" title="Collapse operation">
        <svg class="arrow"
             width="20" height="20">
            <use href="#large-arrow-down" xlink:href="#large-arrow-down"></use>
        </svg>
    </button>
</h4>
@foreach (var action in this.HubData.Nodes)
{
    <div style="height: auto; border: none; margin: 0px; padding: 0px;">
        <span>
            @{
                var actionType = ActionTypeNameResolver.ResolveType(action);
            }
            <div class="opblock opblock-@actionType.GetGroupName()"
                 id="operations-ControlCenter-ControlCenter_GetCaseState">
                <div class="opblock-summary opblock-summary-@actionType.GetGroupName()">
                    <span class="opblock-summary-method">
                        @actionType.GetActionName()
                    </span>
                    <span class="opblock-summary-path">
                        <a class="nostyle">
                            <span>
                                @if (action is Sending sending2)
                                {
                                    @sending2.Ident
                                }
                                @if (action is Returning returning2)
                                {
                                    @returning2.Ident
                                }
                            </span>
                        </a>
                    </span>
                </div>
                <div style="height: auto; border: none; margin: 0px; padding: 0px;">
                    <div class="opblock-body">
                        <div class="opblock-section">

                            @if (action is Sending sending)
                            {
                                <SendingComponent SendingData="sending"></SendingComponent>
                            }
                            @if (action is Returning returning)
                            {
                                <ReturningComponent ReturningData="returning"></ReturningComponent>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>
}
@code{
    [Parameter] public Hub HubData { get; set; }

    [Inject] public BlazorHub.Client.Business.IActionTypeNameResolver ActionTypeNameResolver { get; set; }

    public IEnumerable<Sending> Sendings => HubData.Nodes.OfType<Sending>();
    public IEnumerable<Returning> Returnings => HubData.Nodes.OfType<Returning>();
}
