@if (true != Messages?.Any())
{
    return;
}

<section>
    <section class="models is-open">
        <h4>
            <span>Models</span>
        </h4>
        <div style="height: auto; border: none; margin: 0px; padding: 0px;">
            @foreach (var message in (Messages ?? Array.Empty<prosr.Parser.Models.Message>()))
            {
                <a name="message-@message.Ident.ToLowerInvariant()" id="message-@message.Ident.ToLowerInvariant()"></a>
                <h4><b>@message.Ident</b></h4>
                <div class="table-container">
                    <MessageComponent MessageData="message"></MessageComponent>
                </div>
            }
        </div>
    </section>
</section>

@code {
    [Parameter]
    public IEnumerable<prosr.Parser.Models.Message> Messages { get; set; }
}