<div>
@foreach (var field in MessageData?.Nodes.OfType<Field>() ?? Array.Empty<Field>())
{
    <FieldComponent Field="field"></FieldComponent>
}
</div>

@code {
    [Parameter] public Message MessageData { get; set; }
}