<div class="swagger-ui" style="width:100%">
    <div class="information-container wrapper">
        <section class="block col-12">
            <div>
                <div class="info">
                    <hgroup class="main">
                        <h2 class="title">
                            Hello Prosr - Version 1.47
                        </h2>
                        <pre class="base-url">[ Base URL: gateway.example.org.de/hubs/v1.47 ]</pre>
                        <a target="_blank" href="./v1.0/prosr.json" rel="noopener noreferrer" class="link">
                            <span class="url">
                                ./v1.0/HelloWorldHub.prosr
                            </span>
                        </a>
                    </hgroup>
                    <div class="description">
                        <div class="markdown">Api gateway for microservice and blockchains with gamification and scale.</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper">
        @foreach (var package in (Packages ?? Array.Empty<Package>()))
        {
            <PackageComponent PackageData="package"></PackageComponent>
        }
        <section class="block col-12 block-desktop col-12-desktop">
            <div>
                <HubContainer Hubs="Hubs"></HubContainer>
            </div>
        </section>
    </div>
    <MessageContainer Messages="Messages"></MessageContainer>
</div>

@code {
    [Parameter]
    public Ast Ast { get; set; }

    public IEnumerable<Package> Packages => Ast?.Nodes?.OfType<Package>();
    public IEnumerable<Hub> Hubs => Ast?.Nodes?.OfType<Hub>();
    public IEnumerable<Message> Messages => Ast?.Nodes?.OfType<Message>();
}
