
<div class="opblock-section-header">
    <div class="tab-header">
        <h4 class="opblock-title">
            Parameters <a href="#message-@ReturningData.ResponseType.ToLowerInvariant()">@ReturningData.ResponseType</a> [@@@(ReturningData.Target == "caller" ? "client" : "all")]
        </h4>
    </div>
</div>
<div class="table-container">
    <MessageComponent MessageData=@MessageResolver.GetByName(ReturningData.ResponseType)></MessageComponent>
</div>
<div class="table-container">
    <EditForm Model=@_response>
        <InputTextArea @bind-Value=_response.Value></InputTextArea>
    </EditForm>
</div>

@code {
    [CascadingParameter] public IGenericHubClient HubClient { get; set; }
    [CascadingParameter] public IMessageResolver MessageResolver { get; set; }

    [Parameter] public Returning ReturningData { get; set; }

    private bool _isInitialized = false;
    private FormModel _response = new FormModel();

    protected override Task OnInitializedAsync()
    {
        if (_isInitialized || HubClient is null)
        {
            return Task.CompletedTask;
        }

        HubClient.RegisterBinding(
            ReturningData.Ident, 
            MessageResolver.GetType(ReturningData.ResponseType),
            rspns => _response.Value = System.Text.Json.JsonSerializer.Serialize(rspns));

        _isInitialized = true;

        return Task.CompletedTask;
    }
}
