
<div id="model-MobileRetter.CaseService.Client.DescriptionDto" class="model-container">
    <span class="models-jump-to-path">
    </span><span class="model-box">
        <span style="cursor: pointer;">
            <span class="model-box">
                <span class="model model-title">@MessageData.Ident</span>
            </span>
        </span><span style="cursor: pointer;"><span class="model-toggle collapsed"></span></span>
    </span>
</div>

@code {
    [Parameter]
    public prosr.Parser.Models.Message MessageData { get; set; }
}