<div style="height: auto; border: none; margin: 0px; padding: 0px;">
    @foreach (var message in Messages)
    {
        <a name="message-@message.Ident.ToLowerInvariant()" id="message-@message.Ident.ToLowerInvariant()"></a>
        <h4><b>@message.Ident</b></h4>
        <div class="table-container">
            <Message MessageData="message"></Message>
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<prosr.Parser.Models.Message> Messages { get; set; }
}