<div>
@foreach (var field in MessageData.Nodes.OfType<prosr.Parser.Models.Field>())
{
    <FieldComponent Field="field"></FieldComponent>
}
</div>

@code {
    [Parameter]
    public prosr.Parser.Models.Message MessageData { get; set; }
}