<h3>AST!</h3>
<div class="swagger-ui">
    <div class="information-container wrapper">
        <section class="block col-12">
            <div>
                <div class="info">
                    <hgroup class="main">
                        <h2 class="title">
                            Mobile Retter Gateway - Version 1
                            <small>
                                <pre class="version">1</pre>
                            </small>
                        </h2>
                        <pre class="base-url">[ Base URL: gateway-test.mobile-retter.de/api/v1 ]</pre>
                        <a target="_blank" href="./v1.0/swagger.json" rel="noopener noreferrer" class="link">
                            <span class="url">
                                ./v1.0/swagger.json
                            </span>
                        </a>
                    </hgroup>
                    <div class="description">
                        <div class="markdown">Api gateway for microservice cluster.</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper">
        <section class="block col-12 block-desktop col-12-desktop">
            <div>
                <HubContainer Hubs="Hubs"></HubContainer>
            </div>
        </section>
    </div>
    <div class="wrapper">
        <section class="block col-12 block-desktop col-12-desktop">
            <section class="models is-open">
                <h4>
                    <span>Models</span><svg width="20" height="20">
                        <use xlink:href="#large-arrow-down"></use>
                    </svg>
                </h4>
                <MessageContainer Messages="Messages"></MessageContainer>
            </section>
        </section>
    </div>
</div>

@code {
    [Parameter]
    public prosr.Parser.Models.Ast Ast { get; set; }

    public IEnumerable<prosr.Parser.Models.Hub> Hubs => Ast?.Nodes?.OfType<prosr.Parser.Models.Hub>();
    public IEnumerable<prosr.Parser.Models.Message> Messages => Ast?.Nodes?.OfType<prosr.Parser.Models.Message>();
}
