
<div class="opblock-section-header">
    <div class="tab-header">
        <h4 class="opblock-title">
            Parameters <a href="#message-@ReturningData.ResponseType.ToLowerInvariant()">@ReturningData.ResponseType</a> [@@@(ReturningData.Target == "caller" ? "client" : "all")]
        </h4>
    </div>
</div>
<div class="table-container">
    <MessageComponent MessageData="MessageResolver.GetMessageByName(ReturningData.ResponseType)"></MessageComponent>
</div>

@code {
    [Parameter]
    public prosr.Parser.Models.Returning ReturningData { get; set; }

    [Inject]
    public Business.IMessageResolver MessageResolver { get; set; }
}
