
<div class="opblock-section-header">
    <div class="tab-header">
        <h4 class="opblock-title">
            Parameters @ReturningData.ResponseType [@@@(ReturningData.Target == "caller" ? "Client" : "alle")]
        </h4>
    </div>
</div>
<div class="table-container">
    <Message MessageData="MessageResolver.GetMessageByName(ReturningData.ResponseType)"></Message>
</div>

@*<p><span>@ReturningData.Ident</span> Server sendet an @(ReturningData.Target == "caller" ? "Client" : "alle"): <i>Type @ReturningData.ResponseType</i></p>*@
@code {
    [Parameter]
    public prosr.Parser.Models.Returning ReturningData { get; set; }

    [Inject]
    public Business.IMessageResolver MessageResolver { get; set; }
}
