
<div class="opblock-section-header">
    <div class="tab-header">
        <h4 class="opblock-title">Parameters @SendingData.InputType</h4>
    </div>
</div>
<div class="table-container">
    <Message MessageData="MessageResolver.GetMessageByName(SendingData.InputType)"></Message>

</div>
@if (SendingData.Returning != null)
{
    <ReturningComponent ReturningData="SendingData.Returning"></ReturningComponent>
}

@code {
    [Parameter]
    public prosr.Parser.Models.Sending SendingData { get; set; }

    [Inject]
    public Business.IMessageResolver MessageResolver { get; set; }
}
